body {
	background-color: #ebebeb
}

h1 {
	line-height: 0px;
	font-size: 60px;
	font-family: "Roboto Mono", monospace;
}

h2 {
	font-family: "Bitter", sans-serif;
	font-size: 18pt;
	line-height: 1.35;
	max-width: 650px;
}

p {
	font-family: "Bitter", sans-serif;
	font-size: 12.5pt;
	max-width: 700px;
	line-height: 1.6;
}

li {
	font-family: "Bitter", sans-serif;
	max-width: 700px;
	line-height: 1.6;
}

a {
	font-family: "Bitter", sans-serif;
	font-weight: bold;
}

pre {
	font-size: 12.5pt;
}

.wide {
	font-family: "Roboto Mono", monospace;
	font-weight: bold;
	font-size: 14pt;
	padding: 0px 15px
}

.small {
	font-family: "Bitter", sans-serif;
	font-size: 10pt;
}
